hypersocket-core/src/main/resources/property-schema.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="propertyTemplates">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="propertyCategory">
     	 <xs:complexType>
     	 	 <xs:sequence>
     	 	 	<xs:element name="property" maxOccurs="unbounded">
     	 	 		 <xs:complexType>
	     	 	 		 <xs:anyAttribute/>
	     	 	 	</xs:complexType>
     	 	 	</xs:element>
     	 	 </xs:sequence>
     	 	 <xs:anyAttribute/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:anyAttribute/>
  </xs:complexType>
 </xs:element>
</xs:schema>